/******* FORM *******/
#formulaireinscription input.error{
	background: #f8dbdb;
	border-color: #e46c6e;
}
#formulaireinscription input.ok{
	background: #daf7d7;
	border-color: #24bc1c;
}

#formulaireinscription div{
	margin-bottom: 5px;
}
/* Infos */
#formulaireinscription div span.error{
	color: #e46c6e;
}
#formulaireinscription div span.ok{
	color: #24bc1c;
}

/* Bouton d'envoi *//*
#formulaireinscription #send{
	background: #6f9ff1;
	color: #fff;
	font-weight: 700;
	font-style: normal;
	border: 0;
	cursor: pointer;
}
#formulaireinscription #send:hover{
	background: #79a7f1;
}*/

#error{
	margin-bottom: 20px;
	border: 1px solid #efefef;
}

#error ul{
	list-style: square;
	padding: 5px;
	font-size: 11px;
}

#error ul li{
	list-style-position: inside;
	line-height: 1.6em;
}

#error ul li strong{
	color: #e46c6d;
}

#error.valid ul li strong{
	color: #93d72e;
}
/******* /FORM *******/



/**************************************/
/** Common to every theme for select **/
/**************************************/
.DivSelectyze {
	position:relative;
	width:253px;
}

.DivSelectyze .selectyzeValue {
	position:relative;
	z-index:10;
	display:block;
	text-decoration:none;
}

.DivSelectyze ul {
	list-style:none;
	padding-left: 0;
}

.DivSelectyze .UlSelectize {
	position:absolute;
	z-index:9999;
	display:none;
}

.DivSelectyze li a {
	display:block;
	text-decoration:none;
}

.optgroupTitle {
	display:block;
}

/*----------------------------------
 You can add your own theme below !!
 To add your theme, be sure to have 5 CSS elements :
 
 .your_theme .selectyzeValue {} 		-> Appearance of your select element
 .your_theme .UlSelectize {} 			-> Appearance of the dropdown list
 .your_theme li a {} 					-> Appearance of the items into the dropdown list
 .your_theme li a:hover {} 				-> items on hover
 .your_theme .optgroupTitle {} 			-> Appearance of the optgroup label !! only if you have <optgroup> element into your list 
 
 that's all ! \o/
----------------------------------*/

/*****************/
/** SKYPE THEME **/
/*****************/
.skype .selectyzeValue {
	font:18px/45px Arial;
	color:#2a98c1;
	width:254px;
	height:45px;
	background:url('select/bg_skype.png') no-repeat;
	padding-left:15px
}

.skype .UlSelectize {
	top:23px;
	left:6px;
	width:239px;
	border:1px solid #00aff0;
	background-color:#f7f8ff
}

.skype li a {
	height:28px;
	font:14px/30px Arial;
	background-color:transparent;
	color:#2a98c1;
	border-top:1px solid #84d8f8;
	padding-left:10px
}

.skype li a:hover {
	color:#fff;
	background-color:#2a98c1;/** gradient bgcolors */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#84d8f8), to(#0ab2f1)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #84d8f8, #0ab2f1); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #84d8f8, #0ab2f1); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #84d8f8, #0ab2f1); /* IE10 */
	background-image:      -o-linear-gradient(top, #84d8f8, #0ab2f1); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #84d8f8, #0ab2f1)
}

.skype .optgroupTitle {
	margin-top:15px;
	font-size:16px;
	padding-left:10px;
	background-color:#0fb1ef;
	color:#fff;
}

/*****************/
/** MAC THEME **/
/*****************/
/* boite */
.mac .selectyzeValue {
	font:15px/35px Arial;
	color:#000000;
	width:232px;
	height:35px;
	background:url('../select/bg_mac.png') no-repeat;
	padding-left:10px;
}

/* popup */
.mac .UlSelectize {
	/* Position du popup par rapport à la boite */
	top:34px;
	left:-25px;
	
	width:241px;
	background-color:#fff;
	border:1px solid #b7b7b7;
}

/* Option */
.mac li a {
	height:20px;
	font:15px/20px Arial;
	background-color:transparent;
	color:#000;
	padding-left:10px;
	border-top:1px solid white;
}

.mac li a:hover {
	color:#fff;
	border-top:1px solid rgb(109,166,209);
	background-color:rgb(109,166,209);/** gradient bgcolors */
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(135,182,217)), to(rgb(109,166,209))); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, rgb(135,182,217), rgb(109,166,209)); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, rgb(135,182,217), rgb(109,166,209)); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, rgb(135,182,217), rgb(109,166,209)); /* IE10 */
	background-image:      -o-linear-gradient(top, rgb(135,182,217), rgb(109,166,209)); /* Opera 11.10+ */
	background-image:         linear-gradient(top, rgb(135,182,217), rgb(109,166,209));
}

.mac .optgroupTitle {
	margin-top:15px;
	font-size:13px;
	padding-left:10px;
	background-color:#fff;
	color:#969696;
}

/***************/
/** GREY HEME **/
/***************/
.grey .selectyzeValue {
	font:13px/35px Arial;
	color:#797979;
	width:225px;
	height:32px;
	background:url('select/bg_grey.jpg') no-repeat;
	padding-left:15px
}

.grey .UlSelectize {
	top:15px;
	left:0px;
	width:238px;
	border:1px solid #d2d2d2;
	background-color:#fff
}

.grey li a {
	height:28px;
	font:13px/30px Arial;
	background-color:transparent;
	color:#797979;
	padding-left:10px;
	border:1px solid #fff
}

.grey li a:hover {
	color:#fff;
	background-color:#858585;/** gradient bgcolors */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#7c7c7c), to(#858585)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #7c7c7c #858585); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #7c7c7c, #858585); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #7c7c7c, #858585); /* IE10 */
	background-image:      -o-linear-gradient(top, #7c7c7c, #858585); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #7c7c7c, #858585)
}

.grey .optgroupTitle {
	margin-top:15px;
	font-size:20px;
	padding-left:10px;
	background-color:#858585;
	color:#fff;
}

/*******************/
/** FIREFOX THEME **/
/*******************/
.firefox .selectyzeValue {
	font:12px/22px Arial;
	color:#000;
	width:185px;
	height:22px;
	background:url('select/bg_ff.jpg') no-repeat;
	padding-left:15px
}

.firefox .UlSelectize {
	top:5px;
	left:0px;
	width:198px;
	border:1px solid #bebebf;
	background-color:#fff
}

.firefox li a {
	height:20px;
	font:12px/20px Arial;
	background-color:transparent;
	color:#000;
	padding-left:10px;
	border:1px solid #fff
}

.firefox li a:hover {
	color:#fff;
	background-color:#3399ff;
}

.firefox .optgroupTitle {
	margin-top:15px;
	font-size:17px;
	font-style:italic;
	padding-left:10px;
	background-color:#fff;
	color:#000;
	font-weight:700
}

/****************/
/** CSS3 THEME **/
/****************/
.css3 .selectyzeValue {
	font:14px/46px Arial;
	color:#666666;
	text-shadow:1px 1px 0px #fff;
	text-align:center;
	width:195px;
	height:46px;
	background:url('select/bg_css3.png') no-repeat;
}

.css3 .UlSelectize {
	top:28px;
	left:2px;
	width:190px;
	background-color:#222222
}

.css3 li a {
	font:12px/20px Arial;
	background-color:transparent;
	color:#fff;
	text-align:center;
	padding:3px 0
}

.css3 li a:hover {
	background-color:#3e3d3d;
}

.css3 .optgroupTitle {
	margin-top:15px;
	font-size:17px;
	font-style:italic;
	padding-left:10px;
	background-color:#3e3d3d;
	color:#fff;
	font-weight:700
}

/* 
Recaptcha Style Captcha 
=======================
 re-Captcha Style Captcha with php and jQuery 
 
 Created By: Zeeshan Rasool 
 URL : http://www.99Points.info 
 
 Get JQuery, PHP, AJAX, Codeigniter and MYSQL Tutorials and Demos on Blog
 */
#captcha-wrap{
	border:solid rgb(126,0,0) 1px;
	width:270px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background:rgb(126,0,0);
	text-align:left;
	padding:3px;
	margin-top:3px;
	height:120px;
	margin-left:80px;
}
#captcha-wrap .captcha-box{
	-webkit-border-radius: 7px;
	background:#fff;
	-moz-border-radius: 7px;
	border-radius: 7px;
	text-align:center;
	border:solid #fff 1px;
	margin-bottom:6px;
}
#captcha-wrap .text-box{
	-webkit-border-radius: 7px;
	background:#ffdc73;
	-moz-border-radius: 7px;
	width:140px;
	height:60px;
	float:left;
	border-radius: 7px;
	text-align:center;
	border:solid #ffdc73 1px;
}
#captcha-wrap .text-box input{ 
	width:120px;
	height:10px;
}
#captcha-wrap .text-box label{
	 color:#000000;
	 font-family: helvetica,sans-serif;
	 font-size:12px;	
	 width:140px;
	 padding-top:3px;
	 padding-bottom:3px;
}
#captcha-wrap .captcha-action{
	float:right; 
	width:117px; 
	background:url(../captcha/logos.jpg) top right no-repeat; 
	height:44px; 
	margin-top:3px;
}
#captcha-wrap  img#captcha-refresh{
	margin-top:9px;
	border:solid #333333 1px;
	margin-right:6px;
	cursor:pointer;
}